@import '../../assets/sass/styles.scss';

header {
    border-bottom: 1px solid $color-dark-grey;
    max-height: 50px;

    img {
        max-height: 30px;
        max-width: 180px;
        padding: 0 $header-element-gutter;
    }

    div {
        align-items: center;
        display: flex;
    }

    div:last-child {
        justify-content: flex-end;
        min-height: 50px;

        i {
            color: $color-dark-grey;
            cursor: pointer;
            font-size: 36px;
            margin-right: 10px;
            padding: 0 $header-element-gutter;
            position: relative;

            span {
                background-color: $color-yellow;
                border: 1px solid $color-dark;
                border-radius: 50%;
                font-size: 16px;
                height: 20px;
                line-height: 20px;
                min-width: 20px;
                position: absolute;
                right: 0;
                text-align: center;
                top: -10px;
            }
        }
    }
}
