// Color variables
$color-dark: #000;
$color-dark-grey: #303030;
$color-grey: #9b9b9b;
$color-light-grey: #f8f8fa;
$color-yellow: #fdfe5d;
$color-white: #fff;

// Layout variables
$background-color: $color-light-grey;
$content-wrapper-gutter: 32px;
$content-wrapper-gutter-half: 16px;
$header-element-gutter: 10px;
$product-size-icons: 25px;

// Typography variables
$accordion-header-color: $color-dark-grey;
$accordion-header-font-size: 1.2rem;
$accordion-content-font-color: $color-dark-grey;
$content-font-family: Helvetica, Helmut, Arial, 'Lucida Grande', sans-serif;
$h1-font-size: 36px;
$h1-line-height: 36px;
$header-font-family: 'Lasiver-Medium', 'HelveticaNeue-CondensedBold', Helvetica,
    Helmut, Arial, 'Lucida Grande', sans-serif;
$product-size-icons-font-size: 14px;
